:root {
  --a-primary: 175, 84%, 32% !important;
}
:root.dark {
  --a-primary: 175, 84%, 32% !important;
}


html {
  overflow: hidden;
  user-select: none
}

#app {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


input {
  background-color: transparent;
}

.dark {
  background-color: #222;
  color: white;
  color-scheme: 'dark';
}

