:root {
  --a-primary: 175, 84%, 32% !important;
}
:root.dark {
  --a-primary: 175, 84%, 32% !important;
}


html {
  overflow: hidden;
  user-select: none
}

#app {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


input {
  background-color: transparent;
}

.dark {
  background-color: #222;
  color: white;
  color-scheme: 'dark';
}

/* animations */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

