@import "./base.css";

html {
  overflow: hidden;
  user-select: none
}

#app {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}


input {
  background-color: transparent;
}

.dark {
  background-color: #181818;
  color: white;
  color-scheme: 'dark';
}

.a-base-input-root{
  min-width: 150px !important; 
}

/* animations */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-400px);
}